<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${stylePath}" type="text/css" />
    <script type="text/javascript" src="${axiosPath}" ></script>
    <script type="text/javascript" src="${scriptPath}" ></script>
    <title>Cat Coding</title>
</head>
<body>
  <input type="hidden" id="serviceIndexURL" value="${serviceIndexURL}">   <!-- サービスインデックスのURL -->
  <input type="hidden" id="projectPath" value="${projectPath}">           <!-- プロジェクトファイルのパス -->

  <!-- 既に登録されているパッケージの情報 -->
  <table>
    <tr>
      <td style="padding:10px">
        ${titlRegisPackage}<br />
        <div id="installedPackages" name="installedPackages" class="installed-list">
          ${gettingPackages}
        </select>
      </td>
      <td style="padding:10px;width:200px">
        ${installedVersion}:<span id="currentVersion"></span>
        <select id="installedVersions" name="installedVersions" size="5" style="width:100%;" disabled onchange="changeInstalledVersion()">
          <option value="-1">${selectPackage}</option>
        </select>
        <div style="width:100%;text-align: center;padding:10px;">
          <input id="changeButton" type="button" onclick="lockScreen('${canUpdate}',updatePackage);" value="${update}" disabled>
          <input id="deleteButton" type="button" onclick="lockScreen('${canDelete}',deletePackage);" value="${delete}" disabled>
        </div>
      </td>
    </tr>
  </table>

  <hr>

  <!-- 検索したパッケージのリスト -->
  <table>
    <tr>
      <td>
        ${sarchMessage}
        ${condition}<input id="condition" type="text" style="width:300px"><input id="findButton" type="button" disabled onclick="findPackages();" value="${seacrh}" disable><br />
        <input type="checkbox" id="getprerelease">${includePrerelease}
      </td>
    </tr>
      <td style="vertical-align:top;overflow-y: auto;">
        <div style="width:100%;text-align:right">
          <button id="btnPrev" onclick="findPrev()" disabled>&lt;</button><span id="pageinfo"></span><button id="btnPost" onclick="findPost()" disabled>&gt;</button>
        </div>
        <div id="findPackages" name="findPackages" class="fined-list">
          <div style="width:100%;border:1px solid white;">${searchMessage}</div>
        </div>
      </td>

      <td style="vertical-align:top;width:200px" valign="top">
        <select id="findedPackageVersions" name="versions" size="5" style="width:100%;" disabled>
          <option value="-1">${selectPackage}</option>
        </select>
        <div style="width:100%;text-align: center;padding:10px;">
          <input id="addButton" type="button" onclick="lockScreen('${canAdd}',addPackage);" value="${add}" disabled>
        </div>
      </td>
    </tr>
  </table> 

  <!-- 画面全体のロックと確認ダイアログ -->
  <div id="lockScreen" class="lockScreen"> 
    <div class="confirmDialog">
      <table>
        <tr>
          <td colspan="2">
            <span id="message"></span><br />
          </td>
        </tr>
        <tr>
          <td class="btnLeft">
            <button onclick="selectCancel()">cancel</button>
          </td>
          <td class="btnRight">
            <button onclick="selectOK()">OK</button>
          </td>
        </tr>
      </table>
    </div>
  </div>

</body>
</html>