<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${stylePath}" type="text/css" />
    <script type="text/javascript" src="${axiosPath}" ></script>
    <script type="text/javascript" src="${scriptPath}" ></script>
    <title>Cat Coding</title>
</head>
<body>

  <!-- 既に登録されているパッケージの情報 -->
  <table>
    <tr>
      <td style="padding:10px">
        登録されているパッケージ<br />
        <div id="installedPackages" name="installedPackages" class="installed-list">
          プロジェクト内のパッケージを取得中...
        </select>
      </td>
      <td style="padding:10px;width:200px">
        現在のバージョン：<span id="currentVersion"></span>
        <select id="installedVersions" name="installedVersions" size="5" style="width:100%;" disabled>
          <option value="-1">パッケージを選択してください。</option>
        </select>
        <div style="width:100%;text-align: center;padding:10px;">
          <input type="button" onclick="updatePackage('${projectPath}');" value="変更">
          <input type="button" onclick="deletePackage('${projectPath}');" value="削除">
        </div>
      </td>
    </tr>
  </table>

  <hr>

  <!-- 検索したパッケージのリスト -->
  <table>
    <tr>
      <td>
        インストールしたいパッケージの検索
        検索条件<input id="condition" type="text" style="width:300px"><input type="button" onclick="findPackages('${serviceIndexURL}');" value="検索"><br />
        <input type="checkbox" id="getprerelease">プレリリースを含める
      </td>
    </tr>

    <tr>
      <td>

      </td>
    </tr>
    <tr> 

      <td style="vertical-align:top;overflow-y: auto;">
        <div id="addPackages" name="addPackages" class="fined-list">
          <div style="width:100%;border:1px solid white;">検索してください</div>
        </div>
      </td>

      <td style="vertical-align:top;width:200px" valign="top">
        <select id="versions" name="versions" size="5" style="width:100%;" disabled>
          <option value="-1">パッケージを選択してください。</option>
        </select>
        <div style="width:100%;text-align: center;padding:10px;">
          <input type="button" onclick="findPackages();" value="追加">
        </div>
      </td>
    </tr>
  </table> 

  <script>
    function aaa()
    {
      document.getElementById('test').innerHTML = 'TEST!!!!!'
    }
  </script>
</body>
</html>